# Node
node_modules/
npm-debug.log*
package-lock.json

# Build outputs / generated
optimized_img/
.next
out

# Large media (do not add these to git)
member-portal.mp4

# Vercel/Link
.vercel

# OS files
.DS_Store
Thumbs.db

# Logs and runtime
logs
*.log

